.container {
  text-align: center;
  padding-bottom: 4em;
  position: relative;

  .headings_container {
    .main_heading {
      font-size: 3em;
    }
    .sub_heading {
      font-size: 2em;
      font-weight: lighter;
    }
  }
  .color_picker_container {
    background: #ffffff;
    position: absolute;
    bottom: -70%;
    left: -10%;
    z-index: 2;
    max-height: 200px;

    display: grid;
    justify-items: center;
    justify-content: center;

    filter: drop-shadow(1px 1px 1px #000000);

    .customization_form {
      display: grid;
      justify-items: center;
      row-gap: 1em;
      

      .title {
        font-size: 1em;
        font-weight: bold;
        
      }
      .color_picker {
        width: 40px;
        height: 40px;
      }

      .save_btn {
        color: #ffffff;
        padding: 0.5em;
        border: 1px solid transparent;
        border-radius: 0.5em;
        background-color: #474747;
      }
    }
  }
}
