.container {
  text-align: center;
  padding-bottom: 4em;
  position: relative;

  .headings_container {
    .main_heading {
      font-size: 3em;
    }
    .sub_heading {
      font-size: 2em;
      font-weight: lighter;
    }
  }
  .color_picker_container {
    background: #8181819c;
    position: absolute;
    bottom: -85%;
    left: -40%;
    z-index: 1;
    color: white;
    border: 1px solid transparent;
    border-radius: 0.35em;
    max-height: 30vh;

    display: grid;
    justify-items: center;
    justify-content: center;

    filter: drop-shadow(10px 10px 10px #000000);

    .customization_form {
      display: grid;
      justify-items: center;

      .title {
        font-size: 1.25em;
        font-weight: bold;
      }

      .sub_title {
        font-size: 1em;
      }
      .color_picker {
        width: 40px;
        height: 40px;
        margin-bottom: 2em;
      }

      .save_btn {
        color: #ffffff;
        padding: 0.5em;
        border: 1px solid transparent;
        border-radius: 0.5em;
        background-color: #474747;
        font-size: large;
      }
    }
  }
}
