.container {
  text-align: center;
  padding-bottom: 4em;
  position: relative;

  .headings_container {
    .main_heading {
      font-size: 3em;
    }
    .sub_heading {
      font-size: 2em;
      font-weight: lighter;
    }
  }
  .color_picker_container {
    background: #ffffff;
    border: 1px solid transparent;
    border-radius: 0.5em;
    position: absolute;
    bottom: -60%;
    left: -10%;
    z-index: 2;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 0 0.5em 0.5em 0.5em;
    filter: drop-shadow(1px 2px 3px #000000);

    .customization_form {
      display: grid;
      justify-items: center;
      row-gap: 0.5em;

      .title {
        font-size: 1em;
        font-weight: bold;
      }
      .color_picker {
        width: 40px;
        height: 40px;
      }

      .save_btn {
        color: #ffffff;
        padding: 0.5em;
        border: 1px solid transparent;
        border-radius: 0.5em;
        background-color: #474747;
      }
    }
  }
}
